/** base **/
body {  
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
	line-height: 1.6em;		
	background-color: #fff0ca;
	color:#e39e5a;
	margin: 0;
	padding: .2em;
	padding-bottom: 3em;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

.spacer{
	display: block;
	width: 100%;
	height: 5em;
	padding: .2em;
	margin: .2em;
}
input, button {
	padding: .8em;
	background-color: #fff0ca;
	color: #2e2721;
}
input {
	border-radius: .8em 0 0 0;
}
button, input[type="submit"]{
	border-radius: 0 0 .8em 0;
	cursor: pointer;
}

input[type="text"] {
  border: 1px solid #e39e5a;
  
}
input[type="text"]:focus {
  border: 1px solid #ffd2ca;
}
input[type="submit"], button.action{
	border: 1px solid #e39e5a;
}

/** kc(kuler color) guitar theme reference colors **/

.kc1 {color: #fff0ca;}
.kc2 {color: #b4a189;}
.kc3 {color: #ffd2ca;}
.kc4 {color: #e39e5a;}
.kc5 {color: #2e2721;}

.bgkc1 {background-color: #fff0ca;}
.bgkc2 {background-color: #b4a189;}
.bgkc3 {background-color: #ffd2ca;}
.bgkc4 {background-color: #e39e5a;}
.bgkc5 {background-color: #2e2721;}

/** struct **/

#main-title{
	font-size: 1.6em;
	line-height: 1.4em;
}
#main-title h1{
}
#flick-list {
}
#flick-list .seleced{
	padding-right: .5em;
	border-right: .2em dashed #2e2721;
}

#flick-list .flick-title {}
#flick-list .seleced .flick-title {}

.flick-item {
	padding-left: 2em;
}
.flick-item:before{
		content: '';
    position: absolute;
    left: .2em;
    background: url('img/movie-icon.svg');
    width: 1em;
    height: 1.2em;
}

/** search bar **/
#search-form{
	margin: 1em 0;
}
#flick-search{
	width: 30em;
}

.hreview li {
	
}

/** favorites **/

/** footer **/

#footer{
	bottom:0;
	left: 0;
	position: fixed;
	width: 100%;
	background-color: #2e2721;
	color: #b4a189;
}
#footer ul li{
	list-style: none;
	line-height: 1.6em;
}
#footer a {
	color: #b4a189;
}